.contacts {
  margin-left: auto;
}
.contacts__item:last-child {
  margin-left: 30px;
}
.contacts__link {
  display: flex;
  align-items: center;
  color: $primaryTextColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  &:focus,
  &:hover {
    color: $accentColor;
  }
}
.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    fill: $accentColor;
  }
}
