.customers {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.customers__item {
  @media screen and (min-width: $mobile) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: $tablet) {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 180px) / 6);
    margin: 15px;
  }
}

.customers__link {
  border: 1px solid $svg;
  border-radius: 4px;
  color: $svg;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: 1px solid $accentColor;
    color: $accentColor;
  }
  @media screen and (min-width: $mobile) {
    display: block;
    width: 100%;
  }
}
.customers__icon {
  fill: currentColor;
}
