.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.fetures {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    margin: -15px;
  }
}

.fetures__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
  &:not(:last-child) {
    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }
  }
}

.fetures__box {
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.fetures__title {
  margin-bottom: 10px;
  color: $titleTextColor;

  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.fetures__text {
  margin-bottom: 0;
  color: $primaryTextColor;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
