.section {
  padding-top: 30px;
  padding-bottom: 30px;
  &__title {
    margin-bottom: 50px;

    color: $titleTextColor;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
  }
  &__portfolio {
    padding-top: 60px;
  }
}

.header {
  border-bottom: 1px solid #cccccc;
}
